Hallo {{ .Teacher.Fullname }},

wir haben die Aufsichtenplanung abgeschlossen und ins ZPA gepusht.

Im Anhang finden Sie Ihren persönlichen Aufsichtenplan als Bild (PNG) sowie als Kalenderdatei (ICS), die Sie in Ihren Kalender importieren können. Im ICS finden Sie zu jedem Termin in den Details die Räume, Aufsichten und ggf. Nachteilsausgleiche (NTA).

Unter {{ zpaURL }}/teacher/exam_plan/ sehen Sie nun alle Ihre Prüfungen und die Prüfungen bei denen Sie Aufsicht oder Reserveaufsicht sind. Sie sehen die Termine übrigens auch in Ihrem Wochenplan unter {{ zpaURL }}/teacher/week_plan/ und damit auch im iCal-Feed.

Beachten Sie bitte als eingeteilte Aufsicht: In Ihrem Raum können mehrere Prüfungen gleichzeitig stattfinden und die Studierenden können unterschiedliche Prüfungsdauern haben (z.B. Nachteilsausgleich).

Beachten Sie bitte als Reserveaufsicht: Sie sind Reserve für alle Prüfungen die gleichzeitig stattfinden. Informieren Sie sich am Besten selbst ob alle eingeteilten Aufsichten da sind.

Maßgeblich ist der im Raum mit den Postfächern aushängende Plan. Wenn Sie Aufsichten tauschen oder ein LBA selbst Aufsicht macht, tragen Sie das bitte dort ein.

Und wie immer ein bisschen Transparenz am Schluss:

- {{ plural .NoOfInvigilators "Aufsicht" "Aufsichten" }}
- {{ plural .InvigilationInRooms "Minute" "Minuten" }} Aufsichten in Räumen
- {{ plural .ReserveInvigilation "Minute" "Minuten" }} Reserveaufsichten (eine Reserve rechnet mit 60 Minuten)
- {{ plural .OtherContributions "Minute" "Minuten" }} anrechenbare Minuten durch Mastergespräche, Beisitzer, ...
- 100% zu leistende Aufsichten entsprechen {{ plural .TodoPerInvigilator "Minute" "Minuten" }}, Teilzeit, halbes Freisemester, … entsprechend weniger
- Aufsicht bei eigener Prüfung rechnet nicht mit (genau wie eigene mündliche Prüfungen nicht anrechenbar sind)
- Die geleisteten Zeiten pro Person liegen zwischen {{ plural .MaxDeviation "Minute" "Minuten" }} zu wenig und {{ plural .MinDeviation "Minute" "Minuten" }} zu viel

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07
