Hallo {{ .Exam.MainExamer }}, [der Name steht so in den Primuss-Daten]

anbei die Anmeldedaten für die Prüfung {{ .Exam.AnCode }}. {{ .Exam.Module }} im Studiengang {{ .Exam.Program }}.

Mit freundlichen Grüßen
{{ .PlanerName }}
