<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">JIRA</a>]</p>

<p>Liebe Prüfende,</p>

<p>als Prüfungsplaner der FK07 plane ich alle Prüfungen, in denen der Eintrag
in der Spalte Prüfungsform unter
<a href="https://zpa.cs.hm.edu/public/exam_means_list/">https://zpa.cs.hm.edu/public/exam_means_list/</a>
die Zeichenkette <b>schriftlich</b> enthält, im Prüfungszeitraum vom {{ .FromFK07Date }} bis {{ .UntilDate }}.
{{if ne .FromDate .FromFK07Date}}
  Bitte beachten Sie, dass die anderen, an unseren Studiengängen beteiligten, Fakultäten teilweise früher,
  ab dem {{ .FromDate }}, mit den Prüfungen beginnen.
{{end}}
{{if ne .FromDate .FromDate}}
  Das sollte nicht da stehen.
{{end}}
</p>
<p>Sollten Sie eine <b>praktische</b> Prüfung im Prüfungszeitraum durchführen wollen,
teilen Sie mir das bitte <b>explizit</b> mit. Die Prüfung werde ich dann auch planen.</p>
<p>Bitte teilen Sie mir alle Besonderheiten mit, die ich bei der Planung Ihrer Prüfung beachten muss.</p>
<p>Öffnen Sie dazu ein JIRA-Ticket unter <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">https://jira.cc.hm.edu/servicedesk/customer/portal/13</a>.
Verwenden Sie als Ticket-Art, je nach Anforderung, "Anforderungen an die Raumplanung" oder "allgemeine Anforderungen an Prüfungen".</p>
<p>Zu den Besonderheiten/Constraints gehören beispielsweise:</p>
<ul>
<li>Prüfung X muss gleichzeitig mit Prüfung Y stattfinden</li>
<li>Raum-Constraints:
<ul>
<li>Labor</li>
<li>Steckdosen</li>
</ul>
</li>
<li>aber auch alles andere was aus Ihrer Sicht zu beachten ist.</li>
</ul>
<p>Besonderheit zu Prüfungen mit EXaHM oder SEB werden unabhängig davon über die KDP-Tickets abgefragt
und müssen nicht in einem weiteren Ticket gemeldet werden. Es ist nur wichtig, dass ich mit auf dem Ticket des KDP bin.</p>
<p>Alle anderen Prüfungen (mündliche Prüfungen, Modularbeiten, …) planen Sie bitte selbst.</p>
<p>Rückmeldung bitte bis {{ .FeedbackDate }}.</p>
<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
