<p>Hallo {{ .Teacher.Fullname }},</p>

<p>im Anhang finden Sie die von {{ .GeneratorName }} generierten Deckblätter für Ihre Prüfungen.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
