Hallo {{ .Teacher.Fullname }},

im Anhang finden Sie die von {{ .GeneratorName }} generierten Deckblätter für Ihre Prüfungen.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
