<p>Liebe Fachschaft,</p>

<p>der vorläufige Prüfungsplan ist fertig und hängt als PDF an. Die Prüfungen sind nach Studiengängen gegliedert.</p>

<p>Bitte geben Sie mir Rückmeldung bei ernsthaften Problemen spätestens bis {{ .FeedbackDate }}.</p>

<p>Ich habe, wie immer, mit den mir vorliegenden Anmeldungen so geplant, dass niemand zwei Prüfungen gleichzeitig oder unmittelbar hintereinander hat.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
