<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/249">JIRA</a>]</p>

<p>Liebe Prüfende,</p>

<p>Sie finden ab sofort im ZPA unter <a href="https://zpa.cs.hm.edu/teacher/exam_plan/">https://zpa.cs.hm.edu/teacher/exam_plan/</a>
die <b>vorläufige</b> Planung für die Prüfungen im Prüfungszeitraum.
</p>

<p>Bitte schauen Sie sich die Termine an und überprüfen Sie ob die notwendigen Constraints eingehalten worden sind.
Bei <b>Problemen</b> melden Sie sich bitte schnellstmöglich via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/249">JIRA</a> bei mir, spätestens bis {{ .FeedbackDate }}.</p>

<p>Der Prüfungsplan ist bereits für die betroffenen Studiengänge mit den Prüfungsplanern der FK03 (DE),
FK08 (GS, GN) und FK10 (IB, IN, WD, WT) abgestimmt.</p>

<p>Die Prüfungen der FK07 beginnen am {{ .FromFK07Date }}.
Bitte beachten Sie für Ihre Lehrveranstaltungen, dass die anderen Fakultäten in den betroffenen Studiengängen
bereits ab dem {{ .FromDate }} Prüfungen ansetzen.</p>

<p>Die Fachschaft bekommt von mir den vorläufigen Prüfungsplan per PDF.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
