Liebe Fachschaft,

der vorläufige Prüfungsplan ist fertig und hängt als PDF an. Die Prüfungen sind nach Studiengängen gegliedert.

Bitte geben Sie uns Rückmeldung bei ernsthaften Problemen spätestens bis {{ .FeedbackDate }}.

Wir haben, wie immer, mit den uns vorliegenden Anmeldungen so geplant, dass niemand zwei Prüfungen gleichzeitig oder unmittelbar hintereinander hat.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
