[Antworten bitte nicht via E-Mail,
sondern via https://jira.cc.hm.edu/servicedesk/customer/portal/13]

Liebe Prüfende,

der Ansturm auf die Räume im T-Bau (nur relevant für EXaHM- und SEB-Prüfungen) wird immer größer.

Wenn Sie oder ein von Ihnen betreuter LBA im kommenden Semester (Sommersemester 2026) eine Prüfung mit EXaHM oder SEB planen,
erstellen Sie bitte <b>baldmöglichst</b> ein Ticket für die Prüfungsplanung unter
https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/247.

Es ist klar, dass Sie noch keinen Anmeldecode kennen.

Wichtig sind folgende Informationen:

- EXaHM oder SEB
- Betroffener Studiengang / Studiengänge (Abkürzung reicht, z.B. IF, DE, …)
- Erwartete Anzahl von zu Prüfenden (ungefähre Schätzung, interessant für die Anzahl der Räume à 30 Prüfungsplätze)

Die Studiengänge und Anzahl von Prüfenden brauchen wir um die Räume sinnvoll zu buchen.

Achtung: Das Ticket ersetzt nicht das Ticket das Sie beim KDP für Ihre Prüfung öffnen müssen.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
