<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">JIRA</a>]</p>

<p>Liebe Prüfende,</p>

<p>der Ansturm auf die Räume im T-Bau (nur relevant für EXaHM- und SEB-Prüfungen) wird immer größer.</p>

<p>Wenn Sie oder ein von Ihnen betreuter LBA im kommenden Semester (Sommersemester 2026) eine Prüfung mit EXaHM oder SEB planen,
erstellen Sie bitte <b>baldmöglichst</b> ein Ticket für die Prüfungsplanung unter 
<a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/247">https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/247</a>.</p>

<p>Es ist klar, dass Sie noch keinen Anmeldecode kennen.</p>

<p>Wichtig sind folgende Informationen:

<ul>
<li> EXaHM oder SEB</li>
<li> Betroffener Studiengang / Studiengänge (Abkürzung reicht, z.B. IF, DE, …)</li>
<li> Erwartete Anzahl von zu Prüfenden (ungefähre Schätzung, interessant für die Anzahl der Räume à 30 Prüfungsplätze)</li>
</ul>
</p>

<p>Die Studiengänge und Anzahl von Prüfenden brauchen wir um die Räume sinnvoll zu buchen.</p>

<p>Achtung: Das Ticket ersetzt nicht das Ticket das Sie beim KDP für Ihre Prüfung öffnen müssen.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>