[Antworten bitte nicht via E-Mail, sondern via JIRA]

Liebe Prüfende,
{{ if eq .Category "withExams" }}
als Prüfungsplanung der FK07 planen wir im Prüfungszeitraum vom {{ .FromDate }} bis {{ .UntilDate }}
folgende Ihrer Prüfungen:
{{ range .Exams }}
* {{ .Ancode }} — {{ .Module }} ({{ .ExamType }}){{ with constraintsText .Constraints }}
  Besonderheiten: {{ . }}{{ end }}
{{- end }}

Sollten hier Prüfungen fehlen, die wir planen sollen, oder welche aufgeführt sein,
die Sie selbst außerhalb des Prüfungszeitraumes planen, melden Sie uns das bitte.

Bitte teilen Sie uns außerdem (weitere) Besonderheiten/Constraints mit, die wir bei der
Planung beachten müssen (z. B. „Prüfung X gleichzeitig mit Y", Labor, Steckdosen).
{{ else }}
als Prüfungsplanung der FK07 planen wir im Prüfungszeitraum vom {{ .FromDate }} bis {{ .UntilDate }}
aktuell **keine** Ihrer Prüfungen.

Wir planen alle schriftlichen und praktischen Prüfungen der FK07 im Prüfungszeitraum.
Sollten wir eine Ihrer Prüfungen planen sollen, melden Sie uns das bitte.
{{ end }}
Öffnen Sie für Rückmeldungen bitte ein JIRA-Ticket unter {{ jiraURL }}.
Verwenden Sie als Ticket-Art "Anforderungen an die Raumplanung" oder "allgemeine Anforderungen an Prüfungen".

Besonderheiten zu Prüfungen mit EXaHM oder SEB werden separat über die KDP-Tickets abgefragt.
Mündliche Prüfungen, Modularbeiten u. ä. planen Sie bitte selbst.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
