Hallo {{ .NTA.Name }},

Sie haben gemäß den mir vorliegenden Informationen Anspruch auf Nachteilsausgleich
bei Ihren Prüfungen.

Für folgende Prüfungen, für die Sie sich angemeldet haben, habe ich Sie im jeweils angegebenen Raum eingeplant:

{{ range .ExamsWithRoom -}}
- {{ .Room.RoomName }} --- {{ .Exam.ZpaExam.MainExamer }}: {{ .Exam.ZpaExam.Module }}
{{ end }}

Mit freundlichen Grüßen
{{ .PlanerName }}

<pre>
-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
