Hallo {{ .MainExamer }},

für Ihre Prüfungen sind mir folgende Studierende mit Nachteilsausgleich bekannt:

{{ range .Exams -}}
{{ .AnCode }}. {{ .Module }} ({{ .TypeExamFull }})
{{ range .HandicapStudents }}
  - {{ .Name }}: {{ .Compensation }}
{{ end }}
{{ end }}
Sollten Ihnen weitere Studierende mit Nachteilsausgleich bekannt sein oder bekannt werden,
geben Sie mir bitte sofort Bescheid, damit ich sie in der Planung berücksichtigen kann.

Grundsätzlich haben Studierende mit Nachteilsausgleich die Auflage, Sie als Prüfender
über den Nachteilsausgleich in Kenntnis zu setzen.

Mit freundlichen Grüßen
{{ .PlanerName }}

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
