{{ define "content" }}
<p>Hallo {{ .Teacher.Fullname }},</p>

<p>für die Planung der Prüfungsaufsichten im {{ .Semester }} fehlen uns von Ihnen noch die
„Anforderungen an die Planung der Prüfungsaufsichten“ im ZPA.</p>

<p>Bitte tragen Sie diese <b>schnellstmöglich</b> in Ihrem Profil auf dem ZPA unter
<a href='https://zpa.cs.hm.edu/teacher/profile/'>https://zpa.cs.hm.edu/teacher/profile/</a>
ein und klicken Sie dort ganz unten auf „Speichern“. Das gilt auch dann, wenn Sie keine speziellen
Anforderungen haben: Bitte einmal speichern, damit wir sehen, dass Sie explizit keine Anforderungen
haben und es nicht nur vergessen wurde.</p>

<p><b>Achtung</b>: Solange uns keine Anforderungen vorliegen, müssen wir Sie mit dem vollen
Aufsichtsdeputat von derzeit ca. <b>{{ .Minutes }} Minuten</b> einplanen (100%). Dabei können wir Ihre
individuelle Situation (z.B. Teilzeit, Freisemester, Beisitz bei mündlichen Prüfungen, Live-Coding,
gesperrte Tage) nicht berücksichtigen.</p>

<p>Wenn Sie also möchten, dass wir Ihre individuelle Situation berücksichtigen, tragen Sie Ihre
Anforderungen bitte ASAP nach, bevor wir die Aufsichten einplanen.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplanung der FK07
</p>
{{ end }}
