[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13)]

Liebes Kollegium,

In Ihrem Profil auf dem ZPA unter https://zpa.cs.hm.edu/teacher/profile/ finden Sie temporär die Möglichkeit Ihre „Anforderungen an die Planung der Prüfungsaufsichten" einzugeben.

Bitte geben Sie dort Ihre Anforderungen bis zum {{ .FeedbackDate }} an.

**Achtung**: Auch wenn Sie keine speziellen Anforderungen haben, klicken Sie bitte einmal auf der Seite https://zpa.cs.hm.edu/teacher/profile/ ganz unten auf „Speichern", damit ich sehe Sie haben explizit keine Anforderungen und es nicht nur vergessen.

Ab jetzt folgen nur noch (bereits bekannte) Hintergrundinfos insbesondere für die „Neuen":

Ich plane derzeit die Räume. Nachdem wir nur relativ kleine Räume haben, fordere ich für größerer Prüfungen den roten Würfel und die blaue Tonne an. Die Rückmeldung bzgl. der blauen Tonne dauert leider immer relativ lang, weil die FK03, die die blaue Tonne verwaltet, erst einmal selbst mit der Planung so weit fortgeschritten sein muss, dass sie wissen wann Sie uns die blaue Tonne geben können. Statt der blauen Tonne brauche ich 2-3 unsere Räume, also statt einer Aufsicht 2-3 Aufsichten. Das wäre also eine Mehrbelastung für uns alle.

Die Studierenden mit Nachteilsausgleich (im Wesentlichen Zeitverlängerung) plane ich mit in die jeweiligen Prüfungsräume ein. Es gibt allerdings auch immer Studierende mit Anspruch auf einen eigenen Raum.

Kleinere Prüfungen plane ich nach Möglichkeit zusammen mit anderen Prüfungen in Räume ein, so dass es sein kann, dass Sie als Aufsicht für mehr als eine Prüfung (aber immer nur für einen Raum) zuständig sind.

Ich plane außerdem Reserveräume, die nur notwendig sein werden, wenn alle angemeldeten Studierenden tatsächlich erscheinen. Diese sehen die Studierenden im veröffentlichten Prüfungsplan nicht, d.h. nur bei Bedarf werden die Studierenden die in die anderen Räume nicht mehr passen dort hin geschickt. Als Reserveräume plane ich auch gerne Räume in denen schon eine andere Prüfung stattfindet, aber noch ausreichend Platz ist.

Ansonsten plane ich die Aufsichten dann wie folgt:

- Eigene Prüfungen in einem einzelnen Raum werden selbst beaufsichtigt, außer der Tag wird von Ihnen explizit ausgeschlossen.
- Für Prüfungen in mehreren Räumen wird für jeden Raum eine Aufsicht eingeplant, so dass der Prüfende frei zwischen den Räumen wechseln kann.
- Für jeden Slot in dem Prüfungen stattfinden, plane ich eine Reserveaufsicht ein, die bei Krankheit einer eingeteilten Aufsicht einspringen kann.
- Ich plane als Aufsichten nur hauptamtliche Profs der FK07, also z.B. auch für LBAs die eine Prüfung in einem einzelnen Raum haben. Sprechen Sie sich in dem Fall mit dem jeweiligen LBA ab, ob sie/er selbst Aufsicht führt.
- Ich versuche die Aufsichten so zu planen, dass Sie vorzugsweise an den Tagen an denen Sie eh Prüfung haben, auch Ihre Aufsichten haben.
- Ich versuche außerdem die Aufsichten so zu planen, dass jede:r an maximal 3 Tagen Aufsichten hat.
- Mit den Anforderungen versuche ich die Aufsichten so gerecht wie möglich zu verteilen, wobei die anderen angegebenen Zeiten (Beisitz bei mündlichen Prüfungen, ...) angerechnet werden.

Bitte haben Sie Verständnis, wenn Ihr Aufsichtenplanung nicht ganz ideal ist. Seien Sie versichert, dass ich mein Bestes versuche.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
