Liebes Sekretariat,

die Aufsichtenplanung für das Semester {{ .SemesterName }} ist abgeschlossen und vollständig
im ZPA hinterlegt. Der Aufsichtenplan kann ausgehängt werden.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07
