{{ define "content" }}
<p>Liebes Sekretariat,</p>

<p>die Aufsichtenplanung für das Semester {{ .SemesterName }} ist abgeschlossen und vollständig
im ZPA hinterlegt. Der Aufsichtenplan kann ausgehängt werden.</p>

<p>Mit freundlichen Grüßen<br />
{{ .PlanerName }}<br />
Prüfungsplanung der FK07</p>
{{ end }}
