[Antworten bitte nicht via E-Mail, sondern via JIRA ({{ jiraURL }})]

Liebe Prüfende, liebe Fachschaft,

Sie finden ab sofort im ZPA unter {{ zpaURL }}/public/exam_plan/ die Planung für die Prüfungen im Prüfungszeitraum.

Prüfende finden ihre Prüfungen auch unter {{ zpaURL }}/teacher/exam_plan/.

Die Raumplanung folgt im nächsten Schritt. Die Räume werden spätestens Anfang Juli veröffentlicht.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
