<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">JIRA</a>]</p>

<p>Liebe Prüfende, liebe Fachschaft,</p>

<p>Sie finden ab sofort im ZPA unter <a href="https://zpa.cs.hm.edu/public/exam_plan/">https://zpa.cs.hm.edu/public/exam_plan/</a>
die Planung für die Prüfungen im Prüfungszeitraum.
</p>

<p>Prüfende finden ihre Prüfungen auch unter <a href="https://zpa.cs.hm.edu/teacher/exam_plan/">https://zpa.cs.hm.edu/teacher/exam_plan/</a>.</p>

<p>Die Raumplanung folgt im nächsten Schritt. Die Räume werden spätestens Anfang Juli veröffentlicht.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>