[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13)]

Liebe Prüfende, liebe Fachschaft,

Sie finden ab sofort im ZPA unter https://zpa.cs.hm.edu/public/exam_plan/ die Planung für die Prüfungen im Prüfungszeitraum.

Prüfende finden ihre Prüfungen auch unter https://zpa.cs.hm.edu/teacher/exam_plan/.

Die Raumplanung folgt im nächsten Schritt. Die Räume werden spätestens Anfang Juli veröffentlicht.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
