[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13)]

ich habe gerade die Räume ins ZPA gepusht. Bitte schauen Sie auf https://zpa.cs.hm.edu/teacher/exam_plan/ ob das so für Ihre Prüfungen passt.

Ich habe versucht die Raumnutzung sehr zu optimieren, daher gibt es z.B. mehrere kleine (unter 10 Anmeldungen) Prüfungen in einem Raum oder ein Raum für eine Prüfung ist gleichzeitig Reserveraum für eine weitere Prüfung.

Wenn das für Sie so absolut nicht in Ordnung ist, melden Sie sich bitte ASAP bei mir.

Sie sehen nur was in den Räumen los ist, wenn Sie sich unter https://zpa.cs.hm.edu/teacher/exam_plan/ über die Auswahlbox z.B. alle Prüfungen an einem Tag anschauen.

Anmerkungen zu den Räumen für Nachteilsausgleiche (markiert mit NTA)

- Studierende mit Anspruch auf einen eigenen Raum habe ich i.d.R in R3.013 oder R3.014 eingeplant.
- Studierende ohne Anspruch auf einen eigenen Raum habe ich mit in die normalen Prüfungsräume eingeplant.

ACHTUNG: Bitte setzen Sie Studierende mit einer Verlängerung von über 10% nicht einfach in einen anderen Raum als angegeben. Bei den angegebenen Räumen ist sichergestellt, dass keine Prüfung unmittelbar im Anschluss in dem gleichen Raum statt findet. Prüfungen beginnen immer um 08:30, 10:30, 12:30, 14:30 oder 16:30. Bei einem Nachteilsausgleich mit 20% würde der Raum z.B. von 08:30 bis 10:18 benötigt. Wenn dann um 10:30 die nächste Prüfung in dem Raum statt findet, wird das zu knapp. Bei 10% Verlängerung, also bei dem Beispiel 10:09, funktioniert das noch, wenn sich die Aufsicht darum kümmert, dass der Raum um 10:15 leer ist.

Den roten Würfel und die blaue Tonne habe ich immer so geplant bzw. gebucht, dass er von 15 Minuten vor Prüfungsbeginn bis 15 Minuten nach dem Standard-Ende zur Verfügung steht, also bei einer 90-minütigen Prüfung um 08:30 von 08:15 bis 10:15.

Reserveräume

Die unter https://zpa.cs.hm.edu/teacher/exam_plan/ als Reserve markierten Räume werden den Studierenden unter https://zpa.cs.hm.edu/public/exam_plan/ nicht angezeigt.

Mit freundlichen Grüßen

{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
