[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13)]

Hallo {{ .Teacher.Shortname }},

die Räume für Ihre Prüfungen sind geplant und veröffentlicht. Nachfolgend Ihre
Prüfungen mit den eingeplanten Räumen, jeweils mit Anzahl der Studierenden,
ggf. Reserve, den eingeplanten NTAs und einer evtl. Mitnutzung des Raums durch
andere Prüfungen im selben Slot.
{{ range .Exams }}
{{ .Ancode }}. {{ .Module }} — {{ .Date }}, {{ .Time }} Uhr
{{ range .Rooms }}  - {{ .RoomName }}:{{ if eq (len .Allocations) 1 }} {{ index .Allocations 0 }}{{ else }}{{ range .Allocations }}
      - {{ . }}{{ end }}{{ end }}
{{- range .SharedWith }}
      gemeinsam genutzt mit: {{ .ExamHeader }}:{{ if eq (len .Allocations) 1 }} {{ index .Allocations 0 }}{{ else }}{{ range .Allocations }}
          - {{ . }}{{ end }}{{ end }}
{{- end }}
{{ end }}{{ end }}
Bitte prüfen Sie Ihre Räume. Bei Unstimmigkeiten öffnen Sie bitte ein JIRA-Ticket
unter https://jira.cc.hm.edu/servicedesk/customer/portal/13.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07

--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
