Liebe Prüfende, liebe Fachschaft,

Sie finden ab sofort im ZPA unter {{ zpaURL }}/public/exam_plan/ die Planung für die Prüfungen im Prüfungszeitraum.

Prüfende finden ihre Prüfungen auch unter {{ zpaURL }}/teacher/exam_plan/.

Die Raumplanung folgt im nächsten Schritt. Die Räume werden spätestens Anfang Juli veröffentlicht.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07
