{{ define "content" }}
<p>Liebe Prüfende, liebe Fachschaft,</p>

<p>Sie finden ab sofort im ZPA unter <a href="{{ zpaURL }}/public/exam_plan/">{{ zpaURL }}/public/exam_plan/</a>
die Planung für die Prüfungen im Prüfungszeitraum.
</p>

<p>Prüfende finden ihre Prüfungen auch unter <a href="{{ zpaURL }}/teacher/exam_plan/">{{ zpaURL }}/teacher/exam_plan/</a>.</p>

<p>Die Raumplanung folgt im nächsten Schritt. Die Räume werden spätestens Anfang Juli veröffentlicht.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplanung der FK07
</p>
{{ end }}
