<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">JIRA</a>]</p>

<p>Hallo {{ .Teacher.Shortname }},</p>

<p>die Räume für Ihre Prüfungen sind geplant und veröffentlicht. Nachfolgend Ihre
Prüfungen mit den eingeplanten Räumen, jeweils mit Anzahl der Studierenden, ggf.
Reserve, den eingeplanten NTAs und einer evtl. Mitnutzung des Raums durch andere
Prüfungen im selben Slot.</p>

{{ range .Exams }}
<p><b>{{ .Ancode }}. {{ .Module }}</b> — {{ .Date }}, {{ .Time }} Uhr</p>
<ul>
{{ range .Rooms }}<li><b>{{ .RoomName }}</b>: {{ .StudentCount }} Stud., {{ .Duration }} min{{ if .Reserve }} (Reserve){{ end }}{{ if .NTA }}, NTA: {{ .NTA }}{{ end }}
{{- if .SharedWith }}
<ul>
{{ range .SharedWith }}<li>gemeinsam genutzt mit: {{ . }}</li>
{{ end }}</ul>
{{- end }}
</li>
{{ end }}</ul>
{{ end }}

<p>Bitte prüfen Sie Ihre Räume. Bei Unstimmigkeiten öffnen Sie bitte ein JIRA-Ticket
unter <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">https://jira.cc.hm.edu/servicedesk/customer/portal/13</a>.</p>

<p>Mit freundlichen Grüßen<br />
{{ .PlanerName }}<br />
Prüfungsplanung der FK07</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
