[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13)]

Liebes Kollegium,

ich habe gerade die Aufsichtenplanung abgeschlossen und ins ZPA gepusht.

Unter https://zpa.cs.hm.edu/teacher/exam_plan/ sehen Sie nun alle Ihre Prüfungen und die Prüfungen bei denen Sie Aufsicht oder Reserveaufsicht sind.

Sie sehen die Termine übrigens auch in Ihrem Wochenplan unter https://zpa.cs.hm.edu/teacher/week_plan/ und damit auch im iCal-Feed.

Beachten Sie bitte als eingeteilte Aufsicht:
In Ihrem Raum können mehrere Prüfungen gleichzeitig stattfinden und die Studierenden können unterschiedliche Prüfungsdauern haben (z.B. Nachteilsausgleich).

Beachten Sie bitte als Reserveaufsicht: Sie sind Reserve für alle Prüfungen die gleichzeitig stattfinden. Informieren Sie sich am Besten selbst ob alle eingeteilten Aufsichten da sind.

@Sekretariat: Bitte ausdrucken und aushängen. Danke!

Nachdem der Plan mit den Aufsichten im Raum mit den Postfächern ausgehängt wurde, repräsentiert der Aushang den gültigen Stand.

Wenn Sie Aufsichten tauschen oder ein LBA selbst Aufsicht macht, tragen Sie das bitte in dem aushängenden Plan ein.

Und wie immer ein bisschen Transparenz am Schluss:

- {{ .NoOfInvigilators }} Aufsichten
- {{ .InvigilationInRooms }} Minuten Aufsichten in Räumen
- {{ .ReserveInvigilation }} Minuten Reserveaufsichten (eine Reserve rechnet mit 60 Minuten)
- {{ .OtherContributions }} Minuten anrechenbare Minuten durch Mastergespräche, Beisitzer, ...
- 100% zu leistende Aufsichten entsprechen {{ .TodoPerInvigilator }} Minuten, Teilzeit, halbes Freisemester, … entsprechend weniger
- Aufsicht bei eigener Prüfung rechnet nicht mit (genau wie eigene mündliche Prüfungen nicht anrechenbar sind)
- Die geleisteten Zeiten pro Person liegen zwischen {{ .MaxDeviation }} Minuten zu wenig und {{ .MinDeviation }} Minuten zu viel

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
