<p>Sehr geehrte Damen und Herren,</p>

<p>für die Prüfungsplanung der Fakultät 07 im Semester {{ .SemesterName }}
benötigen wir die folgenden Räume zu den angegebenen Zeiten.</p>

<p>Die Zeiten enthalten jeweils ca. 15 Minuten Vor- und Nachlauf.</p>

{{ range .Rooms }}
<p><b>Raum {{ .Room }}:</b></p>
<ul>
{{ range .Days }}<li>{{ .Date }}
<ul>
{{ range .Times }}<li>{{ .From }} - {{ .Until }} Uhr</li>
{{ end }}</ul>
</li>
{{ end }}</ul>
{{ end }}

<p>Vielen Dank im Voraus.</p>

<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplanung der FK07
</p>

<pre>
--
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>
