Liebes Sekretariat,

nachfolgend finden Sie die für die Prüfungen der Fakultät 07 im Semester {{ .SemesterName }}
eingeplanten Räume, jeweils mit den Belegungszeiten. Aufgeführt sind nur die Räume, die nicht
gesondert angefordert werden müssen.

Es geht ausschließlich um die Zeiten, zu denen in den Räumen Prüfungen stattfinden; sich
überschneidende Zeiten (z.B. durch Nachteilsausgleiche) sind zusammengefasst.

Bitte gleichen Sie diese Belegung mit dem ZPA ab.

{{ range .Rooms }}Raum {{ .Room }}:
{{ range .Days }}  {{ .Date }}
{{ range .Times }}    {{ .From }} - {{ .Until }} Uhr
{{ end }}{{ end }}
{{ end }}
Vielen Dank.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplanung der FK07
