[Antworten bitte nicht via E-Mail, sondern JIRA]

Liebe Prüfende,

wie in den letzten Semestern plane ich alle Prüfungen in denen der Eintrag
in der Spalte Prüfungsform unter 
https://zpa.cs.hm.edu/teacher/exammeans/
die Zeichenkette schriftlich enthält.

Sollten Sie eine praktische Prüfung im Prüfungszeitraum durchführen wollen,
teilen Sie mir das bitte mit. Die Prüfung werde ich dann auch planen.

Bitte teilen Sie mir Besonderheiten mit, die ich bei der Planung Ihrer Prüfung beachten muss.
Öffnen Sie dazu ein JIRA-Ticket unter https://jira.cc.hm.edu/servicedesk/customer/portal/13

Verwenden Sie als Ticket-Art entweder "Anforderungen an die Raumplanung" oder "allgemeine Anforderungen an Prüfungen".

Zu den Besonderheiten/Constraints gehören beispielsweise:

* Prüfung X muss gleichzeitig mit Prüfung Y stattfinden
* Raum-Constraints:
  * Labor
  * Steckdosen
  
aber auch alles andere was aus Ihrer Sicht zu beachten ist.

Besonderheit zu Prüfungen mit EXaHM oder SEB werden unabhängig davon über die KDP-Tickets abgefragt
und müssen nicht in einem weiteren Ticket gemeldet werden.

Alle anderen Prüfungen (mündliche, Modularbeiten, …) planen Sie bitte selbst.

Rückmeldung bitte bis {{ .FeedbackDate }}.

Mit freundlichen Grüßen
{{ .PlanerName }}

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
