[Antworten bitte nicht via E-Mail, sondern via JIRA (https://jira.cc.hm.edu/servicedesk/customer/portal/13/create/249)]

Liebe Prüfende,

Sie finden ab sofort im ZPA unter https://zpa.cs.hm.edu/teacher/exam_plan/ die vorläufige Planung für die Prüfungen im Prüfungszeitraum.

Bitte schauen Sie sich die Termine an und überprüfen Sie ob die notwendigen Constraints eingehalten worden sind.
Bei Problemen melden Sie sich bitte schnellstmöglich bei mir, spätestens bis {{ .FeedbackDate }}.

Der Prüfungsplan ist bereits für die betroffenen Studiengänge mit den Prüfungsplanern der FK03 (DE), FK08 (GS, GN) und FK10 (IB, IN, WD, WT) abgestimmt.

Die Prüfungen der FK07 beginnen am {{ .FromFK07Date }}. Bitte beachten Sie für Ihre Lehrveranstaltungen,
dass die anderen Fakultäten in den betroffenen Studiengängen bereits ab dem {{ .FromDate }} Prüfungen ansetzen.

Die Fachschaft bekommt von mir den vorläufigen Prüfungsplan per PDF.

Mit freundlichen Grüßen
{{ .PlanerName }}
Prüfungsplaner der FK07

-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
