<p>[Antworten bitte nicht via E-Mail,
sondern via <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">JIRA</a>]</p>

<p>Liebe Prüfende,</p>

<p>unter
<a href="https://collab.dvb.bayern/spaces/HMFK07/pages/1162186223/Prüfungsplanung+im+aktuellen+Semester">https://collab.dvb.bayern/spaces/HMFK07/pages/1162186223/Prüfungsplanung+im+aktuellen+Semester</a>
finden Sie ab sofort die aktuellen Informationen zur Prüfungsplanung.
</p>
<p>
Im PDF <code>PrüfungenImPrüfungszeitraum.pdf</code> sehen Sie alle Prüfungen, die ich plane. Sollte Ihre Prüfung nicht
in der Liste sein, dann gehe ich davon aus, dass Sie diese selbst <b>außerhalb des Prüfungszeitraumes</b> planen.
</p>
<p>
Im PDF <code>Constraints.pdf</code> sehen Sie alle Constraints, die ich bei der Planung Ihrer Prüfung beachten muss.
</p>

<p>Wenn die, in den PDFs vorliegenden, Informationen nicht stimmen oder nicht vollständig sind,
öffnen Sie bitte ein JIRA-Ticket unter <a href="https://jira.cc.hm.edu/servicedesk/customer/portal/13">https://jira.cc.hm.edu/servicedesk/customer/portal/13</a>
und teilen Sie mir mit, was ich ändern soll.
Verwenden Sie als Ticket-Art, je nach Anforderung, "Anforderungen an die Raumplanung" oder "allgemeine Anforderungen an Prüfungen".</p>
<p>Rückmeldung bitte so schnell wie möglich.</p>
<p>Mit freundlichen Grüßen</p>
<p>{{ .PlanerName }}<br />
Prüfungsplaner der FK07
</p>

<pre>
-- 
Diese E-Mail wurde generiert und gesendet von https://github.com/obcode/plexams.go
</pre>